<% layout("/Layouts/default") -%>
<style>
	textarea {
  width: 300px;
  height: 100px;
	}
</style>
<body>
  <div class="row">
		<% if (message == 1) { %>
			 <div class="alert alert-success col-sm-12">You successfully updated the time.</div>
		<% } %>
    <div class="col-md-8 col-md-offset-2">
			<form id="post_time" class="form-horizontal" role="form" method="post" action="/AdminPanel/PostTime"> 
				<div style="margin-bottom: 25px" class="input-group">
					<h2>Monday</h2>
					<div style="margin-bottom: 10px">
						<input id="monday_time" type="text" class="form-control" name="monday_time" value=<%= monday_time %>>
					</div>
					<br>
				</div>
				<div style="margin-bottom: 25px" class="input-group">
					<h2>Tuesday</h2>
					<div style="margin-bottom: 10px">
						<input id="tuesday_time" type="text" class="form-control" name="tuesday_time" value=<%= tuesday_time %>>
					</div>
					<br>
				</div>
				<div style="margin-bottom: 25px" class="input-group">
					<h2>Wednesday</h2>
					<div style="margin-bottom: 10px">
						<input id="wednesday_time" type="text" class="form-control" name="wednesday_time" value=<%= wednesday_time %>>
					</div>
					<br>
				</div>
				<div style="margin-bottom: 25px" class="input-group">
					<h2>Thursday</h2>
					<div style="margin-bottom: 10px">
						<input id="thursday_time" type="text" class="form-control" name="thursday_time" value=<%= thursday_time %>>
					</div>
					<br>
				</div>
				<div style="margin-bottom: 25px" class="input-group">
					<h2>Friday</h2>
					<div style="margin-bottom: 10px">
						<input id="friday_time" type="text" class="form-control" name="friday_time" value=<%= friday_time %>>
					</div>
					<br>
				</div>
				<div style="margin-bottom: 25px" class="input-group">
					<h2>Saturday</h2>
					<div style="margin-bottom: 10px">
						<input id="saturday_time" type="text" class="form-control" name="saturday_time" value=<%= saturday_time %>>
					</div>
					<br>
				</div>
				<div style="margin-bottom: 25px" class="input-group">
					<h2>Sunday</h2>
					<div style="margin-bottom: 10px">
						<input id="sunday_time" type="text" class="form-control" name="sunday_time" value=<%= sunday_time %>>
					</div>
					<br>
				</div>
				<div style="margin-top:10px" class="form-group">
					<div class="col-sm-12 controls">
						<button id="update_time" type="submit" class="btn btn-success">Update Avaiability Times</button>
					</div>
				</div>
			</form>
    </div>
  </div>
</body>
