<% layout("/Layouts/default") -%>
<style>
	h1{
		font-size: 60px
	}
	h2{
		font-size: 50px
	}
</style>
<body>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Blog</h1>
      <br>
        <% for(let i = 0; i < results[0].length; i++) { %>
            <article>
                <a href='/Blog/<%=results[0][i].id%>'><h2><%= results[0][i].title %></h2></a>
                <br>
                <h3><b>By:</b> <%= results[0][i].author %> <b>Posted:</b> <%= results[0][i].date %></h3>
                <br>
                <h4><%= results[0][i].content.slice(0, 400)%></h4>
								<br><br>
            </article>
        <% } %>
    </div>
  </div>
</body>
